{% extends "base.html" %}
{% load static %}

{% block pageID%}loginpage{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.css" %}"/ >
{% endblock %}

{% block content %}
<div class="edit">
	<h1><br></h1>
	<h1>{{workSession.person}} working on {{workSession.project}}</h1>
	{% if saved %}
		<h2>Just Saved!</h2>
	{% endif %}
	<form action="/edit/?id={{workSession.pk}}" method="post" class="formated">{% csrf_token %}
		<input class="hidden" value="{{workSession.pk}}" name="id" style="display:none;">
		<label style="display:inline-block;padding: 10px 15px; margin: 10px auto;" for="startTime">Start Time:</label><input type="number" value="{{workSession.startTimeFloat}}" name="startTime" id="startTime">
		<br>
		<label style="display:inline-block;padding: 10px 15px; margin: 10px auto;" for="endTime">End Time:</label><input type="number" value="{{workSession.endTimeFloat}}" name="endTime" id="endTime">
		<br><br>
		<h3>Starting Notes</h3>
		<textarea id="notes" name="notes">{{workSession.notes}}</textarea>
		<br>
		<h3>Ending Notes</h3>
		<textarea id="notes" name="exiting_notes">{{workSession.exiting_notes}}</textarea>
		<br>
		<input type="submit" value="Commit Edits">
	</form>
	<br>
	{% include "footer.html" %}
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/jquery.datetimepicker.js" %}"></script>
<script type="text/javascript">

	jQuery('#startTime').datetimepicker({
		format:'unixtime',
		startDate:new Date({{workSession.startTimeFloat}} * 1000),
		step:5
	});
	jQuery('#endTime').datetimepicker({
		format:'unixtime',
		startDate:new Date({{workSession.endTimeFloat}} * 1000),
		step:5
	});	
</script>
{% endblock %}