{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>{{person}}</h1>

{% if active.0 %}
	<table>
		<tr>
			<td>{{active.0.project}}</td>
			{% if active.0.workTypes %}<td>{{active.0.workTypes}}</td>{% endif %}
			<td>{{active.0.notes}}</td>
			<td>{{active.0.startTime|date:"G:i - j - N"}}</td>
			<td><a href="/admin/timetrack/worksession/{{active.0.pk}}/">Edit</a></td>
		</tr>
	</table>
{% else %}
	<h3>Not currently working</h3>
{% endif %}


<table>
	<tr>
		<th>Project</th>
		<th>WorkTypes</th>
		<th>Notes</th>
		<th>Notes End</th>		
		<th>Total Time</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Edit</th>
	</tr>
	{% for session in worksessions %}
		<tr>
			<td>{{session.project}}</td>
			<td>{% if session.workTypes %}{{session.workTypes}}{% endif %}</td>	
			<td class="notes">{{session.notes}}</td>
			<td class="notes">{% if session.exiting_notes %}{{session.exiting_notes}}{% endif %}</td>
			<td>{{session.totalhourstext}}</td>
			<td>{{session.startTime|date:"G:i - j - n"}}</td>
			<td>{{session.endTime|date:"G:i - j - n"}}</td>
			<td><a href="/admin/timetrack/worksession/{{session.pk}}/">Edit</a></td>
		</tr>
	{% endfor %}
</table>

{% include "footer.html" %}
{% endblock %}