{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>{{project}}</h1>


{% if active.0 %}
	<table>
	{% for pro in active %}
		<tr>
			<td>{{pro.person}}</td>
			{% if pro.workTypes %}<td>{{pro.workTypes}}</td>{% endif %}
			<td>{{pro.notes}}</td>
			<td>{{pro.startTime|date:"G:i - j - N"}}</td>
			<td><a href="/admin/timetrack/worksession/{{pro.pk}}/">Edit</a></td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<h3>No one is currently working on this project</h3>
{% endif %}
				
<table>
	<tr>
		<th>Person</th>
		<th>WorkTypes</th>
		<th>Notes</th>
		<th>Notes End</th>
		<th>Total Time</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Edit</th>
	</tr>
	{% for session in worksessions %}
		<tr>
			<td>{{session.person}}</td>
			<td>{% if session.workTypes %}{{session.workTypes}}{% endif %}</td>	
			<td class="notes">{{session.notes}}</td>
			<td class="notes">{% if session.exiting_notes %}{{session.exiting_notes}}{% endif %}</td>			
			<td>{{session.totalhourstext}}</td>
			<td>{{session.startTime|date:"G:i - j - n"}}</td>
			<td>{{session.endTime|date:"G:i - j - n"}}</td>
			<td><a href="/admin/timetrack/worksession/{{session.pk}}/">Edit</a></td>
		</tr>
	{% endfor %}
</table>

{% include "footer.html" %}
{% endblock %}