{% extends "base.html" %}
{% load static %}
{% load bohdan_filters %}

{% block content %}
<h1>{{project}} - {{timeTotal|hours}}</h1>


{% if active.0 %}
	<table>
	{% for pro in active %}
		<tr>
			<td>{{pro.person}}</td>
			{% if pro.workTypes %}<td>{{pro.workTypes}}</td>{% endif %}
			<td>{{pro.notes}}</td>
			<td>{{pro.startTime|date:"G:i - j - N"}}</td>
			<td><a href="/edit/?id={{pro.pk}}">Edit</a></td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<h3>No one is currently working on this project</h3>
{% endif %}

{% for session in worksessions %}
	{% ifchanged session.startTime|date:"n" %}
		{% if forloop.first == False %}
			</table>	
		{% endif %}
		<h2>{{session.startTime|date:"F Y"}} - {% for t in timeMonth %}{% if t.m == session.startTime.month %}{{t.t|hours}}{% endif %}{% endfor %}</h2>		
		<table>
			<tr>
				<th>Person</th>
				<th>WorkTypes</th>
				<th>Notes</th>
				<th>Notes End</th>
				<th>Total Time</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Edit</th>
			</tr>
	{% endifchanged %}
	<tr>
		<td><a href="/people/?id={{session.person.pk}}">{{session.person}}</a></td>
		<td>{% if session.workTypes %}{{session.workTypes}}{% endif %}</td>	
		<td class="notes">{{session.notes}}</td>
		<td class="notes">{% if session.exiting_notes %}{{session.exiting_notes}}{% endif %}</td>			
		<td>{{session.totalhours|hours}}</td>
		<td>{% ifchanged session.startTime|date:"j" %}<b>{% endifchanged %}{{session.startTime|date:"G:i - j - n"}}{% ifchanged session.startTime|date:"j" %}</b>{% endifchanged %}</td>
		<td>{% ifchanged session.startTime|date:"j" %}<b>{% endifchanged %}{{session.endTime|date:"G:i - j - n"}}{% ifchanged session.startTime|date:"j" %}</b>{% endifchanged %}</td>
		<td><a href="/edit/?id={{session.pk}}">Edit</a></td>
	</tr>
{% endfor %}
</table>

{% include "footer.html" %}
{% endblock %}