{% extends "base.html" %}
{% load static %}

{% block status %}{% if current.0.pauseStart %}paused{% endif %} {% if current %}working{% endif %}{% endblock status %}

{% block content %}
	{% if error %}
		<div class="error">{{error}}</div>
	{% endif %}
	<h1>{{user}}</h1>
	<form {% if current %}action="/api/stoptimmer"{% else %}action="/api/starttimmer"{% endif %} method="post" class="">{% csrf_token %} <!-- notloaded -->
		<input type="text" name="time" id="datetime">

		{% if current %}
			<!-- pause or continue a work session -->
			<div class="pause">
				<div class="pausedtext">
					the project is currently paused
				</div>			
				<input type="checkbox" name="pause" value="paused">
				<textarea id="workingnotes" name="workingnotes"></textarea>
			</div>
			<div class="formated">
				<input type="submit" value="Pause" class="pausebutton" id="pausebutton">
				<input type="submit" value="UnPause" class="pausebutton" id="unpausebutton">
				<input type="submit" value="Start" id="start">
				<input type="submit" value="Finish" id="finish">
			</div>

		{% else %}
			<!-- start a new work session -->
			<div class="formated">
				<select id="project" name="project">
						<option value="">Select a Project</option>
					{% for project in projects %}
						<option value="{{project.pk}}">{{project}}</option>
					{% endfor %}
				</select>
				<textarea id="notes" name="task"></textarea>
			</div>
			<div class="worktypes">
			{% for worktype in worktypes %}
				<span class="worktypecontainer">{{worktype}}<input class="worktype" type="radio" name="worktype" value="{{worktype.slug}}"></span>
			{% endfor %}		
			</div>
			<div class="formated">
				<input type="submit" value="Start" id="start">
			</div>


		{% endif %}





	</form>
	<div id="time" class="working">
		<div id="currenttime" ></div>
		<div id="starttime" ></div>
		<div id="worked"></div>
	</div>
	<div class="workshow">
		<div id="projectmeta"><b>{{current.0.project}}</b>
		{{current.0.notes}}</div>
	</div>


	{% include "footer.html" %}
{% endblock %}



{% block script %}
	<script type="text/javascript">
	$(document).ready(function(){
		app.init();
		{% if current and not current.0.pauseStart %}
			app.time.init({{current.0.startTimeFloat}},{{current.0.minusTime}})
		{% endif %}
		// app.setUser("{{user}}");
	});
	</script>
{% endblock %}