html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif; }

select, button, .formated input, textarea {
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  font-family: 'Lato', sans-serif;
  background: #fff;
  font-size: 1.2em;
  border-radius: 0;
  border: none;
  padding: 10px 15px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #cccccc;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  vertical-align: top;
  margin: 10px auto 10px auto; }

table {
  margin: 0 auto;
  margin-top: 2em; }

th, td {
  padding: 0.5em;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc; }
  th:first-child, td:first-child {
    border-left-width: 0px; }
  th:last-child, td:last-child {
    border-right-width: 0px; }

tr:nth-child(2n) {
  background-color: #ccc; }
tr:first-child {
  border-top: solid 1px #ccc; }

#wrapper {
  text-align: center; }

.worktypes {
  width: 50%;
  margin: 0 auto;
  text-align: center; }
  .worktypes .worktypecontainer {
    display: inline-block;
    padding: 0.5em 1em; }
    .worktypes .worktypecontainer input {
      margin: 0.6em; }

#user, #project, #notes {
  display: block; }

#time {
  display: none;
  text-align: center; }

#finish, .pause, #datetime, .notloaded {
  display: none; }

.working #time {
  display: block; }
.working #finish {
  display: inline-block; }
.working #notes, .working #project, .working .worktypecontainer, .working #start {
  display: none; }
.working .pause {
  display: block; }
  .working .pause input {
    display: none; }

.pausebutton {
  display: none; }

.paused.working #unpausebutton {
  display: inline-block; }
.paused.working #pausebutton {
  display: none; }
.paused.working #time {
  display: none; }

.working #pausebutton {
  display: inline-block; }

.pausedtext {
  display: none; }

.paused .pausedtext {
  display: block; }
.paused input {
  display: none; }

#worked {
  font-size: 2em;
  padding: 1em; }

#currenttime {
  padding-top: 1em; }

.optionlist {
  width: 50%;
  max-width: 400px;
  display: inline-block;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 0; }
  .optionlist li {
    text-align: left;
    list-style: none; }
    .optionlist li a {
      display: inline-block;
      padding: 0.5em; }
    .optionlist li:nth-child(2n) {
      background-color: #ccc; }

.footer {
  margin-top: 3em; }
  .footer a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em; }
    .footer a:hover {
      background-color: #ccc; }

#adminpage tr:nth-child(2n) {
  background-color: #fff; }
